@import '~bootstrap/scss/bootstrap.scss';

.XL {
    padding: 5rem;
    width: 100%;
    margin: 0.1rem;
    background-color: aqua
}

.L {
    padding: 2.5rem;
    margin: 0.1rem;
    background-color: brown
}

.SM {
    width: 50%;
    padding: 2.5rem;
    margin: 0.1rem;
    background-color: darkolivegreen
}