@import '~bootstrap/scss/bootstrap.scss';

.SMwidth {
    width: 50%;
}

.XLLwidth {
    width: 100%;
}

.cont {
    @extend .d-flex;
    @extend .flex-row;
    @extend .flex-wrap;
    background-color: #7F7F79;
    border-color: rgb(87, 87, 83);
    border-width: 2px;
    border-style: dashed;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 1rem;
    padding-top: 1rem;
}